<div class="vehicles-container">
  <h2>Vehicle Inventory</h2>
  
  <div class="table-responsive">
    <table class="vehicles-table">
      <thead>
        <tr>
          <th>Registration</th>
          <th>Make</th>
          <th>Model</th>
          <th>Owner</th>
          <th>Mechanic</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="vehicles.length === 0">
          <td colspan="6" class="no-data">No vehicles found</td>
        </tr>
        <tr *ngFor="let vehicle of vehicles">
          <td>{{ vehicle.reg }}</td>
          <td>{{ vehicle.make }}</td>
          <td>{{ vehicle.model }}</td>
          <td>{{ vehicle.owner.cid }}, {{ vehicle.owner.name }}</td>
          <td>{{ vehicle.mechanic.mid}}, {{ vehicle.mechanic.name }}, {{ vehicle.mechanic.salary }}, {{ vehicle.mechanic.garage.gid }}, {{ vehicle.mechanic.garage.location }} </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>